{% if name == 'gender' %}
 <tr>
  <td>{{ text }}：</td>
  <td>{% include "parts/gender.html" %}</td>
</tr>
{% elif name == 'icon' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <img style="width:60px;height:60px;" class="img-header-icon" src="http://static.chuangyh.com/{{ value }}"/>
    </td>
  </tr>
{% elif name == 'is_enabled' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <select name="{{ name }}">
        <option value="true" {% ifequal mod.is_enabled True %}selected="selected"{% endifequal %}>启用</option>
        <option value="false" {% ifequal mod.is_enabled False %}selected="selected"{% endifequal %}>不启用</option>
      </select>
    </td>
  </tr>
{% elif name == 'is_recruiting' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <select name="{{ name }}">
        <option value="true" {% ifequal mod.is_recruiting True %}selected="selected"{% endifequal %}>招人</option>
        <option value="false" {% ifequal mod.is_recruiting False %}selected="selected"{% endifequal %}>不招人</optio
      </select>
    </td>
  </tr>
{% elif name == 'description' %}
 <tr>
  <td>{{ text }}：</td>
  <td>
    <textarea name="{{ name }}"
    {% if maxlen != "0" and maxlen != "{{maxlen}}" %}
      maxlen="{{ maxlen }}"
    {% endif %}>
    {% if value != None %}{{ value }}{% endif %}
    </textarea>
  </td>
</tr>
{% elif name == 'id_card' or name == 'other_card' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <a target="_blank" href="http://static.chuangyh.com/{{ value }}">
        <img class="ext" src="http://static.chuangyh.com/{{ value }}" />
      </a>
    </td>
  </tr>
{% elif name == 'activity_state' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <select name="{{ name }}">
        <option value="0" {% ifequal mod.is_verified 0 %}selected="selected"{% endifequal %}>审核中</option>
        <option value="100" {% ifequal mod.is_verified 100 %}selected="selected"{% endifequal %}>审核通过</option>
        <option value="10" {% ifequal mod.is_verified 10 %}selected="selected"{% endifequal %}>审核未通过</option>
      </select>
    </td>
  </tr>
{% elif name == 'is_verified' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <select name="{{ name }}">
        <option value="0" {% ifequal mod.is_verified 0 %}selected="selected"{% endifequal %}>未提交</option>
        <option value="1" {% ifequal mod.is_verified 1 %}selected="selected"{% endifequal %}>待审核</option>
        <option value="2" {% ifequal mod.is_verified 2 %}selected="selected"{% endifequal %}>身份证审核通过</option>
        <option value="3" {% ifequal mod.is_verified 3 %}selected="selected"{% endifequal %}>未通过</option>
        <option value="4" {% ifequal mod.is_verified 4 %}selected="selected"{% endifequal %}>eid审核通过</option>
      </select>
    </td>
  </tr>
{% elif name == 'is_role_verified' %}
  <tr>
    <td>{{ text }}：</td>
    <td>
      <select name="{{ name }}">
        <option value="0" {% ifequal mod.is_verified 0 %}selected="selected"{% endifequal %}>未提交</option>
        <option value="1" {% ifequal mod.is_verified 1 %}selected="selected"{% endifequal %}>待审核</option>
        <option value="2" {% ifequal mod.is_verified 2 %}selected="selected"{% endifequal %}>审核通过</option>
        <option value="3" {% ifequal mod.is_verified 3 %}selected="selected"{% endifequal %}>未通过</option>
      </select>
    </td>
  </tr>
{% elif name == 'province' or name == 'county' or name == 'city' %}
  <tr>
    <td>{{ text }}：</td>
    <td><input type="text" name="{{ name }}" value="{{value}}"/></td>
  </tr>
{% elif type == 'checkbox' %}
<tr>
  <td>{{ text }}：</td>
  <td>
    <input name="{{ name }}" type="checkbox"
      {% if value == True %}
      checked="checked"
      {% endif %}/>
  </td>
</tr>
{% elif type == 'datetime' or type == 'date' %}
 <tr>
  <td>{{ text }}：</td>
  <td><input name="{{ name }}" type="text" data-field="{{ type }}" readonly
  value="{% if value != None %}{{ value }}{% endif %}"/>
  </td>
 </tr>
{% else %}
<tr>
  <td>{{ text }}：</td>
  <td><input name="{{ name }}" type="{{ type }}" value="{% if value != None %}{{ value }}{% endif %}"
  {% if maxlen != "0" and maxlen != "{{maxlen}}" %}maxlen="{{ maxlen }}"{% endif %}/>
  </td>
</tr>
{% endif %}