{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div id="main">
<form role="form" action="{% url 'admin:paper:list' %}" method="get">
    <span>问卷名：</span><input type="text" name="name" value="{{name}}" /><br/>
    <span></span><input type="submit" class="mt-10 mr-5" value="搜索" /><input type="reset" class="mt-10" value="取消" />
</form>
<table style="width:1200px;margin:0 auto;">
    <thead>
        <tr>
            <th class="min-width-50">ID</th>
            <th>问卷名</th>
            <th>描述</th>
            <th class="min-width-80">是否启用</th>
            <th class="min-width-150">操作</th>
        </tr>
        {% if list %}
        {% for item in list.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>
                {% if item.name|length >= 15 %}
                    {{ item.name|slice:"15" }}...
                {% else %}
                    {{ item.name }}
                {% endif %}
            </td>
            <td>
                {% if item.desc|length >= 25 %}
                    {{ item.desc|slice:"25" }}...
                {% else %}
                    {{ item.desc }}
                {% endif %}
            </td>
            <td>
                {% if item.enable %} 启用 {% else %} 未启用 {% endif %}
            </td>
            <td><a href="{% url 'admin:paper:detail' item.id %}">查看</a>
            <a onclick="verify_choose({{item.id}},'{{item.enable}}')">
            {% if item.enable %} 停用 {% else %} 启用 {% endif %}</a>
            <a onclick="show_statistics({{item.id}},'{{item.name}}','{{item.desc}}')">统计</a></td>
            <!--<a id="del">删除</a></td>-->
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="5" style="text-align:left">没有数据</td></tr>
        {% endif %}
    </thead>
</table>
</div>
{% endblock %}
{% block topbar %}{% include 'topbar.html' with tb='activity_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='activity_admin' lb='paper' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='activity_admin' lb='paper' rb='list' %}{% endblock %}

{% block css %}
{% include 'parts/table_style.html' %}
<style>
    
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $("#del").click(function(){
        var r = confirm("确认删除？")
        if(r){
            console.log('ok');
        }
    });
    function verify_choose(id,enable){
        if(enable=="True") enable=false;
        else enable=true;
        $.confirm({
            title: null,
            content: '确认？',
            type: 'blue',
            icon: 'glyphicon glyphicon-question-sign',
            backgroundDismiss:true,
            columnClass:'width-300',
            buttons: {
                ok: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function() {
                        verify(id,enable);
                    }
                },
                cancel: {
                    text: '取消',
                    btnClass: 'btn-default',
                    action: function() {}
                }
            }
        });
    }
    function verify(id,enable){
        $.post(base_admin_url+'admin/paper/'+id+'/switch/',{'enable':enable})
        .then(function() {
            showAlert("成功");
            window.location.reload();
        })
        .fail(function() {
            showAlert("失败");
        });
    }
    function show_statistics(paper_id, paper_name, paper_desc){
        window.open(base_static_url+"paper/paper_statistics.html?id="+paper_id+'&name='+paper_name,'_blank');
    }
</script>
{% endblock %}
