{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:admin_competition:add' %}" method="post" onSubmit="return form_check();">
<table>
    <tr>
        <td>标题：</td>
        <td><input name="name" type="text" value="" required/></td>

        <td>标签：</td>
        <td><input name="tags" type="text" value="" required/></td>
    </tr>
    <tr>
        <td>详细内容：</td>
        <td colspan="3"><textarea name="content" required></textarea></td>
    </tr>
    <tr>
        <td>领域：</td>
        <td><select name="field" id="select_field" required></select></td>
    </tr>
    <!--<tr>
        <td>截至日期：</td>
        <td><input name="deadline" type="text" data-field="datetime" readonly value="" required/></td>
    </tr>-->
    <tr>
        <td>开始时间：</td>
        <td><input name="time_started" type="text" data-field="datetime" readonly value="" required/></td>
    
        <td>结束时间：</td>
        <td><input name="time_ended" type="text" data-field="datetime" readonly value="" required/></td>
    </tr>
    <tr>
        <td>省：</td>
        <td><select name="province" required></select></td>

        <td>市：</td>
        <td><select name="city" required></select></td>
    </tr>
    <tr>
        <td>人数上限：</td>
        <td><input name="allow_team" type="number" value="0" required/> (0为不限)</td>

        <td>机构：</td>
        <td><input name="unit" type="text" value="" required/></td>
    </tr>
    <tr>
        <td>团队最少人数：</td>
        <td><input name="min_member" type="text" value="1" required/></td>
    
        <td>团队最多人数：</td>
        <td><input name="max_member" type="text" value="1" required/></td>
    </tr>
    <tr>
        <td>参与者类型：</td>
        <td>
            <select name="user_type" required>
                <option value="0" selected="selected">不限</option>
                <option value="1">学生</option>
                <option value="2">教师</option>
                <option value="3">社会人员</option>
            </select>
        </td>

        <td>竞赛负责人：</td>
        <td>
            <select name="owner">
                <option value="">(无)</option>
                {% for p in owners %}
                <option value="{{ p.id }}">{{ p.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>当前活动阶段：</td>
        <td>
            <input name="stages" type="hidden" value="[]" required/>
            <input name="status" type="hidden" value="" required/>
            <select id="status"></select>
            <input id="add_stage" type="button" value="新增" style="margin-top: 0px;" />
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
<script>
var stage_count = 0;
$(document).ready(function() {
    get_field('select_field');//获取初始化field
    get_province();//初始化省市
});

function form_check(){
    isSubmit = true;
    $('.stage').each(function(idx, elem) {
        if($(elem).find('input:nth-of-type(2)').val()==""){
            showAlert('请设置阶段开始时间');
            isSubmit = false;
            return false;
        }
        if($(elem).find('input:nth(3)').val()==""){
            showAlert('请设置阶段结束时间');
            isSubmit = false;
            return false;
        }
        if(new Date($(elem).find('input:nth-of-type(2)').val()) > new Date($(elem).find('input:nth(3)').val())){
            showAlert('时间设置有误');
            isSubmit = false;
            return false;
        }
    });
    if(isSubmit) return true;
    else return false;
}

var msg = "{{ msg }}";
if(msg!="") showAlert(msg);
</script>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_competition' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_competition' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_competition' lb=1 rb='add' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% endblock %}

{% block js %}
<script src="http://static.chuangyh.com/js/competition.js"></script>
<script src="http://static.chuangyh.com/js/field.js"></script>
<script src="http://static.chuangyh.com/js/province_city.js"></script>
{% endblock %}
