{% extends "layout.html" %} 
{% load staticfiles %}
 {% block content %}
<h3 style="text-align: center;margin-top: 30px">
    设定评委
</h3>
<table style="margin:50px auto;width:500px;">
    <tr>
        <th width="200px">评委姓名</th>
        <th width="100px">设定评委</th>
        <!-- <th width="50px">下载</th> -->
        <!-- <th width="150px">评分</th>
        <th width="100px">提交评分</th> -->
    </tr>
    {% for e in all_experts %}
    <tr>
        <td>{{ e.name }}</td>
        {% if e in experts %}
            <td><button class="btn btn4" disabled>已设定</button></td>
        {% else %}
            <td><button class="btn btn4" id="button{{ e.id }}" onclick="setExpert({{ e.id }})">设定评委</button></td>
        {% endif %}
        
    </tr>
    {% endfor %}
</table>
{% endblock %} 
{% block topbar %}
{% include 'topbar.html' with tb='admin_competition' %}
{% endblock %} 
{% block leftbar %}
{% include 'leftbar.html' with tb='admin_competition' lb=1 %}
{% endblock %}
 {% block rightbar %}
 {% include 'rightbar.html' with tb='admin_competition' lb=1 rb='' %}
 {% endblock %} 
 {% block css %}
 {% include 'parts/input_style.html' %}
 {% include 'parts/table_style.html' %}
<style>
    table {
        border-collapse: collapse;
        margin: 30px;
    }

    table td {
        border: 1px solid #999;
    }
</style>
{% endblock %} 
{% block js %}
<script src="http://static.chuangyh.com/js/lib.js"></script>
<script>
    competitionId = location.pathname.split('/')[3];
    function setExpert(expertId) {
        // 为竞赛设定评委
        $.ajax({
            type: 'POST',
            url: base_admin_url + 'admin_competition/'+competitionId+'/experts/',
            data: {"expert_id": expertId},
            headers: {'X-USER-TOKEN': getCookie('token')},
            error: function (err) {
                if(err.status==200) showAlert('设定成功');
                else showAlert('设定评委失败');
            },
            success: function (res) {
                showAlert('设定成功');
                $('#button'+expertId).prop('disabled', true);
            }
        });
    }
</script> 
{% endblock %}