{% extends "layout.html" %} 
{% load staticfiles %}
 {% block content %}
<h3 style="text-align: center;margin-top: 30px">
    {{ model.name }} -
    {% if model.status == 0 %}前期宣传{% endif %} 
    {% if model.status == 1 %}报名{% endif %} 
    {% if model.status == 2 %}预赛{% endif %} 
    {% if model.status == 3 %}周赛{% endif %} 
    {% if model.status == 4 %}月赛{% endif %} 
    {% if model.status == 5 %}中间赛{% endif %} 
    {% if model.status == 6 %}结束{% endif %} 
    - 提交列表
</h3>
<table>
    <tr>
        <th width="100px">团队名</th>
        <th width="150">评委</th>
        <th width="100px">设定评委</th>
    </tr>
    {% for team in teams %}
    <tr>
        <td>{{ team.team.name }}</td>
        {% if team.rater %}
            <td>{{ team.rater.name }}</td>
            <td>
                <button disabled>确定</button>
            </td>
        {% else %}
            <td>
                <select id="select{{team.team.id}}"></select>
            </td>
            <td>
                <button id="button{{team.team.id}}" onclick="setExpert({{ team.team.id }})">确定</button>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %} 
{% block topbar %}
{% include 'topbar.html' with tb='admin_competition' %}
{% endblock %} 
{% block leftbar %}
{% include 'leftbar.html' with tb='admin_competition' lb=1 %}
{% endblock %}
 {% block rightbar %}
 {% include 'rightbar.html' with tb='admin_competition' lb=1 rb='' %}
 {% endblock %} 
 {% block css %}
 {% include 'parts/input_style.html' %}
 {% include 'parts/table_style.html' %}
<style>
    table {
        border-collapse: collapse;
        margin: 30px;
    }

    table td {
        border: 1px solid #999;
    }
</style>
{% endblock %} 
{% block js %}
<script src="http://static.chuangyh.com/js/lib.js"></script>
<script>

    competitionId = location.pathname.split('/')[4];
    getExperts();
    function getExperts(params) {
        // $.get(base_admin_url+'admin/admin_competition/' + competitionId + '/experts/?api=1').then(function (data) {
        //     if (data.count == 0) {
        //         return;
        //     }
        //     t = '';
        //     data.list.map((v, i) => {
        //         t += '<option value="' + v.id + '">' + v.name + '</option>';
        //     });
        //     $('select').html(t);
        // }).fail(errorHandler);
        $.ajax({
            type: 'GET',
            url: base_admin_url + 'admin/admin_competition/'+competitionId+'/experts/?api=1',
            data: {},
            headers: {'X-USER-TOKEN': getCookie('token')},
            error: function (err) {
                showAlert('发生未知错误');
            },
            success: function (res) {
                console.log(res);
                if (res.count == 0) {
                    return;
                }
                t = '';
                res.list.map((v, i) => {
                    t += '<option value="' + v.id + '">' + v.name + '</option>';
                });
                $('select').html(t);
            }
        });
    }

    function setExpert(teamId) {
        expertId = $('#select'+teamId).val();
        if(expertId==null || expertId==''){
            showAlert('请选择评委');
            return;
        }
        // $.post(base_admin_url+'admin/admin_competition/'+teamId+'/file/'+competitionId+'/expert/',{
        //     expert_id:expertId
        // }).then(function(params) {
        //     $('#button'+teamId).prop('disabled',true);
        //     $('#select'+teamId).prop('disabled',true);
        //     alert('设定成功');
        // }).fail(errorHandler);
        $.ajax({
            type: 'POST',
            url: base_admin_url + 'admin/admin_competition/'+teamId+'/file/'+competitionId+'/expert/',
            data: {"expert_id": expertId},
            headers: {'X-USER-TOKEN': getCookie('token')},
            error: function (err) {
                showAlert('发生未知错误');
            },
            success: function (res) {
                $('#button'+teamId).prop('disabled',true);
                $('#select'+teamId).prop('disabled',true);
                showAlert('设定成功');
            }
        });
    }
</script> 
{% endblock %}