{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="width:1050px;margin:30px;">
    <tr>
        <td>标题：</td>
        <td style="max-width: 500px">{{ model.name }}</td>

        <td>标签：</td>
        <td style="max-width: 500px">{{ model.tags }}</td>
    </tr>
    <tr>
        <td>详细内容：</td>
        <td colspan="3"><pre>{{ model.content }}</pre></td>
    </tr>
    <tr>
        <!--<td>截至日期：</td>
        <td>{{ model.deadline }}</td>
        -->
        <td>参与者类型：</td>
        <td>
            {% if model.user_type == 0 %}不限{% endif %}
            {% if model.user_type == 1 %}学生{% endif %}
            {% if model.user_type == 2 %}教师{% endif %}
            {% if model.user_type == 3 %}社会人员{% endif %}
        </td>
        <td>领域</td>
        <td>{{model.field}}</td>
    </tr>
    <tr>
        <td>负责人</td>
        {% if model.owner %}
        <td>{{model.owner.first.user.name}}</td>
        {% else %}
        <td>无，<a href="/admin/admin_competition/edit/{{ model.id }}">请设置负责人</a></td>
        {% endif %}
    </tr>
    <tr>
        <td>开始时间：</td>
        <td>{{ model.time_started }}</td>
    
        <td>结束时间：</td>
        <td>{{ model.time_ended }}</td>
    </tr>
    <tr>
        <td>人数上限：</td>
        <td>{{ model.allow_team }}</td>
    
        <td>省：</td>
        <td>{{ model.province }}</td>
    </tr>
    <tr>
        <td>市：</td>
        <td>{{ model.city }}</td>
    
        <td>机构：</td>
        <td>{{ model.unit }}</td>
    </tr>
    <tr>
        <td>最少人数：</td>
        <td>{{ model.min_member }}</td>
    
        <td>最多人数：</td>
        <td>{{ model.max_member }}</td>
    </tr>
    
    <tr>
        <td>当前活动阶段：</td>
        <td colspan="3">
            {% if model.status == 0 %}前期宣传{% endif %}
            {% if model.status == 1 %}报名{% endif %}
            {% if model.status == 2 %}预赛{% endif %}
            {% if model.status == 3 %}周赛{% endif %}
            {% if model.status == 4 %}月赛{% endif %}
            {% if model.status == 5 %}中间赛{% endif %}
            {% if model.status == 6 %}结束{% endif %}
        </td>
    </tr>
    {% for stage in stages %}
        <tr>
            <td>活动阶段{{forloop.counter}}</td>
            <td colspan="3">
                类　　型：
                {% if stage.status == 0 %}前期宣传
                {% elif stage.status == 1 %}报名
                {% elif stage.status == 2 %}预赛
                {% elif stage.status == 3 %}周赛
                {% elif stage.status == 4 %}月赛
                {% elif stage.status == 5 %}中间赛
                {% elif stage.status == 6 %}复赛
                {% elif stage.status == 7 %}决赛
                {% elif stage.status == 8 %}结束
                {% endif %}<br/>
                开始时间：{{ stage.time_started }}<br/>
                结束时间：{{ stage.time_ended }}<br/>
                {% if model.status > 1 and model.status < 8 and model.status == stage.status %}
                <a href="{% url 'admin:admin_competition:file' model.id stage.status %}">分配评委</a><br/>
                <a href="/admin/admin_competition/{{ model.id }}/final/">晋级</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>设定评委：</td>
        <td><a href="/admin/admin_competition/{{ model.id }}/experts/">设定评委</a></td>
        <td>获奖名单：</td>
        <td><a href="{% url 'admin:admin_competition:award' model.id %}">设置</a></td>
    </tr>
</table>
<br>
<div class="banner width-1050">报名者
    <a class="btn buttons mt-f5" href="{% url 'admin:admin_competition:excel' model.id %}">导出</a>
</div>
<table style="width:1050px;margin:30px;">
    <tr>
        <th>团队</th>
        <th>报名时间</th>
        <th>队长</th>
        <th>队长联系方式</th>
        <th>地区</th>
    </tr>
    {% if model.team_participators.all %}
        {% for team in model.team_participators.all %}
        <tr>
            <td>{{ team.team.name }}</td>
            <td>{{ team.time_created }}</td>
            <td>{{ team.team.owner.name }}</td>
            <td>{{ team.team.owner.phone_number }}</td>
            <td>{{ team.team.province }} {{ team.team.city }} {{ team.team.county }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <td colspan="5" style="text-align:left;">没有数据</td>
    {% endif %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_competition' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_competition' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_competition' lb=1 rb='' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style>
    td{
        border: 1px solid #C1C1C1;
    }
</style>
{% endblock %}
